<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>All Posts</title>
	<link rel="stylesheet" href="/style.css">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6348152391819558"
     crossorigin="anonymous"></script>
</head>
<body>
	<nav>
         <h1>Quora Posts</h1>
        <button><a href="https://quora-post-or38.onrender.com/posts/new">Creat New Post</a></button>
		<button><a href="https://quora-post-or38.onrender.com/about">About</a></button>
		<button><a href="https://quora-post-or38.onrender.com/contact">Contacts</a></button>
		<button id="dark-mode-toggle">🌙 Dark Mode</button>
	</nav>
	 <h2>Welcome to the Quora Post Page</h2>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6348152391819558"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="+1y+rk+26-6j+7i"
     data-ad-client="ca-pub-6348152391819558"
     data-ad-slot="9959417974"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
	<div class="main-box">
		<% for(post of posts) { %>
         <div class="post">
			<h3 class="user">@<%= post.username %> </h3>
		 	<h4 class="content"><%= post.content %> </h4>
			<img src="/images/<%= post.userimg %>" class="uerimg" id="userimg" alt="image"><br>
			<button><a href="https://quora-post-or38.onrender.com/posts/<%=post.id%>">See in Detailed</a></button>
			<button><a href="https://quora-post-or38.onrender.com/posts/<%=post.id%>/edit">Edit Post</a></button><br>
			<br>
			<form method="post" action="/posts/<%= post.id %>?_method=DELETE">
				<button>Delete</button>
			</form>
		 </div>
	<% }%>
	</div><br>
	<footer>
		<a href="https://quora-post-or38.onrender.com/posts">@quora-post</a>
	</footer>
	<script src="/app.js"></script>

</body>
</html>
